.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
}

.nav-items >ul {
    display: flex;
    list-style-type: none;
}
.nav-items >ul >li {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    margin-top: 43px;
}
.filter-btn {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.search-btn {
    margin: 10px;
}
.res-card {
    margin: 12px;
    align: center;
    padding: 5px;
    width: 270px;
    color: black;
    box-shadow: 5px 5px #ecebf2;
}
.res-card:hover {
    cursor: pointer;
    box-shadow: 1px 1px #eaeaea;
    color: rgb(74, 74, 95);
}
.res-logo {
    width: 270px;
    height: 190px;
}
.rest-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1% 10% 1% 14%;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1% 10% 1% 14%;
}
.shimmer-card {
    margin: 12px;
    align: center;
    padding: 5px;
    width: 270px;
    height: 320px;
    background-color: #f0f0f0;
}
.btn-login {
    padding: 0px 20px 0 20px;
    margin: 0 20px 0 0;
    cursor: pointer;
}
.filter {
    display: flex;
}
.search {
    margin-top: 10px;
}